<mat-grid-list cols="{{cols}}" rowHeight="400px" gutterSize="20px" class="grid-layout">
    <mat-grid-tile *ngFor="let book of books; trackBy: trackBooks">
        <mat-card>
            <img id="card-image" mat-card-image src="{{book.imageUrl}}" alt="product photo">
            <mat-card-content>
                <mat-card-title matTooltip="{{book.name}}">{{book.name | wordWrap }}</mat-card-title>
                <mat-card-subtitle>{{book.purchasePrice | currency:'ZAR'}}</mat-card-subtitle>
            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button color="primary" [routerLink]="['/book', book.id]">
                    View
                </button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<mat-paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = getNextPage($event)">
</mat-paginator>