#header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em;
}

#book-text,
#store-text {
    color: var(--deep-purple);
}

#book-text {
    font-weight: 600;
}

#store-text {
    font-weight: 100;
}

#right-half {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#left-half {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#left-half:active,
#left-half:focus {
    outline: 0;
    border: none;
    outline-style: none;
}

#button-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}