<div id="container">
    <mat-card *ngIf="book" class="book-card">
        <img mat-card-image src="{{book.imageUrl}}" alt="Photo of a book">
        <mat-card-content>
            <mat-card-title>{{book.name}}</mat-card-title>
            <mat-card-subtitle>{{book.purchasePrice | currency:'ZAR'}}</mat-card-subtitle>
            <p>
                {{book.description}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <app-item-quantity [quantity]="quantity" [maxValue]="10" (setQuantityEvent)="setQuantity($event)"></app-item-quantity>
            <button mat-raised-button color="accent" (click)="addItemToCart()">
                <mat-icon>add_shopping_cart</mat-icon>
                Add to cart
            </button>
            <button mat-raised-button color="primary" (click)="goBack()">
                <mat-icon>storefront</mat-icon>
                Continue shopping
            </button>
        </mat-card-actions>
    </mat-card>
</div>