/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; width: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --deep-purple: #3f51b5;
}

#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #b19cd9;
    border-radius: 20px;
    margin: -30px 0 0;
    padding: 10px;
}

.mat-display-3, .mat-typography .mat-display-3 {
    margin: 0;
}